<%- include('partials/head') %> 
  <body>
    <%- include('partials/navbar') %>
    <h1>The home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum provident
      non tempore tempora alias vitae iste reiciendis perferendis ad, explicabo
      obcaecati sit. Inventore placeat id tempora delectus facilis molestiae
      ipsum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nostrum
      voluptatem deleniti. Itaque earum laudantium minima quas. Nulla, rem
      consectetur! Consectetur nam sunt repellat ex asperiores quisquam dolorem,
      commodi molestiae.
    </p>
  </body>
</html>
