* {
  font-family: "Ubuntu", sans-serif;
  color: #7fb3d5;
}

body {
  background-color: #000033;
}

.nav li {
  display: inline;
  margin: 0 10px;
  padding: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  transition: color 0.4s 0s cubic-bezier(1, 0, 1, 1);
}

a:hover {
  color: #0050fc;
}

a:active {
  color: #8c00ff;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  text-decoration: wavy underline;
  padding-bottom: 0em;
  letter-spacing: 0.8px;
  margin-bottom: 50px;
}

h2 {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 0.8px;
}

p {
  text-align: left;
  letter-spacing: 0.8px;
  font-size: 16px;
  margin-top: 1rem;
}

.work li,
.edu li {
  text-align: left;
  letter-spacing: 0.8px;
  font-size: 16px;
  list-style-type: "-";
  padding-left: 15px;
}

.aboutme {
  border: #7fb3d5 solid;
  border-radius: 10px;
  padding: 1em;
}

#contactme {
  text-align: center;
}

.contactheading {
  margin-top: 4rem;
}

.form-group {
  margin-bottom: 1.5rem;
}