* {
  font-family: "Ubuntu", sans-serif;
  color: #7fb3d5;
}
body {
  background-color: #000033;
}
nav {
  display: flex;
  justify-content: flex-end;
}
li {
  display: inline;
  margin: 0 10px;
  padding: 0;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  transition: color 0.4s 0s cubic-bezier(1, 0, 1, 1);
}
a:hover {
  color: #0050fc;
}

a:active {
  color: #8c00ff;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  text-decoration: underline;
  letter-spacing: 0.8px;
}

p {
  text-align: left;
  letter-spacing: 0.8px;
  font-size: 18px;
}
