<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum provident
      non tempore tempora alias vitae iste reiciendis perferendis ad, explicabo
      obcaecati sit. Inventore placeat id tempora delectus facilis molestiae
      ipsum!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nostrum
      voluptatem deleniti. Itaque earum laudantium minima quas. Nulla, rem
      consectetur! Consectetur nam sunt repellat ex asperiores quisquam dolorem,
      commodi molestiae.
    </p>
  </body>
</html>
